body{
    background:#9EB394;
}

h1{
    color: #B8E0D3;
    text-align: center;
}

h2{
    color: #F5E8E3;
    text-align: center;
}

h3{
    color: #637765;
    font-family: sans-serif;
}

#intro p {
    font-family: sans-serif;
    color: #637765;
}
nav {
    background-color: #F5E8E3;
    padding: 1%;
    margin-bottom: 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    border-top: 1px solid #fff;
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}

img {
    width: 20em;
    height: 20em;

}

header {
    text-align: center;
}




#intro {
    padding: 20px;
    background: #D7EDCE;
}

#introduction {
    padding: 20px;
    background: #D7EDCE;
    text-align:center;
}

button {
    padding:20px;
    background:#637765;
}


.flip-box {
    background: #9EB394;
    width: 300px;
    height: 70px;
    border: 1px solid #D7E0CE;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .flip-box-front {
    background-color: #D7E0CE;
    color: #637765;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: #D7E0CE;
    color: #637765;
    transform: rotateY(180deg);
  }

  .flip-box {
    float: left;
    text-align: center;
    background-color: #9EB394;
    width: 24%;
  }

  footer p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

#about {
    padding:50px;
}