body{
    background:#9EB394;
}

h1{
    color: #B8E0D3;
    text-align: center;
}

h2{
    color: #F5E8E3;
    text-align: center;
}

nav {
    background-color: #F5E8E3;
    padding: 1%;
    margin-bottom: 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    border-top: 1px solid #fff;
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}
